/* Common ****************************************************************** */

.yac-table {
  height: 100%;
  max-width: 100%;
  overflow: auto;
  position: relative;
  will-change: scroll-position;
}

.yac-table-cell {
  position: relative;
}

.yac-table-row {
  display: flex;
}

.yac-table-sticky {
  position: sticky;
  z-index: 2;
}

.yac-table-text-center {
  justify-content: center;
}

.yac-table-text-left {
  justify-content: flex-start;
}

.yac-table-text-right {
  justify-content: flex-end;
}

/* Header ****************************************************************** */

.yac-table-header {
  display: inline-block;
  top: 0;
}

/* Body ******************************************************************** */

.yac-table-body {
  contain: content;
  position: absolute;

  .yac-table-row.yac-table-hidden {
    display: none;
  }
}

.yac-table-virtual-scroll-spacer {
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  width: 1px;
}
