@mixin sticky() {
  position: sticky;
  z-index: 2;
}

.yac-table-sticky {
  @include sticky();
}

.yac-table-row-actions-handle {
  @include sticky();

  right: 0;
}

.yac-table-row {
  display: flex;
  flex-direction: row;
  // position: relative;

  &.yac-table-selectable .yac-table-cell:first-child {
    // @include sticky();

    justify-content: center;
    // left: 0;

    svg {
      color: #707070;
      display: none;
      width: 16px;
    }

    &:hover {
      svg {
        display: block;
      }
    }
  }

  &.yac-table-selected .yac-table-cell:first-child {
    svg {
      color: #000;
      display: block;
    }
  }
}

.yac-table-row-actions {
  height: 100%;
  position: absolute;
  right: 40px;

  ul {
    // align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    // position: absolute;
    // width: 800px;
    list-style: none;
    height: 100%;

    li {
      background-color: #fff;
      display: flex;
      align-items: center;
      z-index: 10;
      width: max-content;

      // 22EE
      // 22EF
      // 2713

      &:not(:first-child):before {
        content: "\2022";
        padding: 0 8px;
      }
    }
  }
}

// .yac-table-row-actions-handle {
//   position: relative;
// }

// .yac-table-row-actions {
//   // display: none;

//   -webkit-align-items: center;
//   align-items: center;
//   border: none;
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-flex: 0 0 auto;
//   -webkit-flex: 0 0 auto;
//   flex: 0 0 auto;
//   line-height: 20px;
//   -webkit-box-ordinal-group: 1;
//   -webkit-order: 1;
//   order: 1;
//   padding: 0;

//   empty-cells: show;
//   font-size: 0.875rem;
//   height: 20px;
//   outline: none;
//   vertical-align: middle;
//   white-space: nowrap;

//   ul {
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: flex;
//     margin-right: 6px;
//     padding: 0;

//     li {
//       height: 20px;
//       opacity: 0.54;
//       width: 20px;
//       opacity: 0.54;
//       align-items: center;
//       border: none;
//       display: inline-flex;
//       justify-content: center;
//       outline: none;
//       position: relative;
//       z-index: 0;
//       cursor: pointer;
//       list-style: none;
//       margin: 0 10px;

//       span {
//         /* content: ''; */
//         height: 200%;
//         position: absolute;
//         top: -50%;
//         left: -500%;
//         width: 200%;
//       }
//     }
//   }
// }

* {
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.yac-table {
  // contain: strict;
  height: 100%;
  max-width: 100%;
  overflow: auto;
  position: relative;
  // transform: translateZ(0);
  width: fit-content;
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;
}

.yac-table-header {
  @include sticky();
  // position: absolute;
  // left: 0;
  // contain: content;
  top: 0;
  display: inline-block;

  .yac-table-cell {
    position: sticky;
  }
}

.yac-table-body {
  contain: content;
  left: 0;
  position: absolute;
  top: 56px;

  .yac-table-row.yac-table-hidden {
    display: none;
  }
}

.yac-table-virtual-scroll-spacer {
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  width: 1px;
}

// .yac-table-row {
//   display: flex;
//   flex-direction: row;
// }

.yac-table-text-center {
  text-align: center;
}

.yac-table-text-left {
  text-align: left;
}

.yac-table-text-right {
  text-align: right;
}

// .yac-table {
//   display: block;
//   position: relative;
//   overflow: auto;
//   contain: strict;
//   transform: translateZ(0);
//   will-change: scroll-position;
// }

// .yac-table-row {
//   display: flex;
//   flex-direction: row;
//   height: 40px;
//   width: 1600px;
// }

// .yac-table-sticky {
//   position: sticky;
//   z-index: 2;
// }

// .yac-table-header {
//   @extend .yac-table-sticky;

//   top: 0;
// }

// .yac-table-virtual-scroll-content-wrapper {
//   transform: translateY(0px);
//   will-change: transform;
// }

// .yac-table-virtual-scroll-spacer {
//   height: 1px;
//   left: 0;
//   position: absolute;
//   top: 0;
//   transform-origin: 0 0;
//   width: 1px;
// }

// .yac-table-body {
//   position: absolute;
//   top: 0;
//   left: 0;
//   contain: content;
//   min-width: 100%;
// }

// //
// //
// //

// #table-container-test {
//   .yac-table-body {
//     height: 300px;
//   }

//   .yac-table-cell {
//     background-color: #fff;
//   }

//   .yac-table-cell:nth-of-type(1) {
//     @extend .yac-table-sticky;

//     left: 0;

//     min-width: 360px;
//   }
//   .yac-table-cell:nth-of-type(2) {
//     @extend .yac-table-sticky;

//     left: 360px;

//     min-width: 360px;
//   }
//   .yac-table-cell:nth-of-type(3) {
//     min-width: 360px;
//   }
//   .yac-table-cell:nth-of-type(4) {
//     min-width: 360px;
//   }
//   .yac-table-cell:nth-of-type(5) {
//     @extend .yac-table-sticky;

//     right: 0;

//     min-width: 360px;
//   }

//   .yac-table-row {
//     // width: calc(5 * 360px);
//   }
// }

// // // /* Variables *************************************************************** */

// // // $z-index-base: 1;
// // // $frozen-column--z-index: calc(#{$z-index-base} + 1);

// // /* Mixins ****************************************************************** */

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

// // /* Common ****************************************************************** */

// // .yac-table-body {
// //   // overflow: hidden;
// //   // overflow-y: overlay;
// // }

// // .yac-table-hidden {
// //   display: none;
// // }

// // .yac-table-sticky {
// //   position: sticky;
// //   z-index: 2;
// // }

// // .yac-table {
// //   overflow-x: overlay;
// //   will-change: scroll-position;
// // }

// // .yac-table-virtual-scroller {
// //   will-change: transform;
// // }

// // .yac-table-row {
// //   @include flex-row();
// // }

// // .yac-table-header {
// //   @extend .yac-table-sticky;

// //   top: 0;
// // }

// // // .yac-table-row {
// // //   @include flex-row();

// // //   position: relative;

// // //   &::before {
// // //     content: "";
// // //     height: 100%;
// // //     left: 0;
// // //     position: absolute;
// // //   }

// // //   &.selected::before {
// // //     z-index: calc(#{$frozen-column--z-index} + 1);
// // //   }
// // // }

.yac-table-cell {
  @include flex-row();

  // box-sizing: content-box;
  // position: relative;
  // z-index: $z-index-base;

  // &.frozen {
  //   height: 100%;
  //   position: absolute;
  //   z-index: $frozen-column--z-index;
  // }
}

.yac-table-cell-content {
  flex-grow: 1;

  // &.center {
  //   text-align: center;
  // }

  // &.left {
  //   text-align: left;
  // }

  // &.right {
  //   text-align: right;
  // }
}

// // // /* Header ****************************************************************** */

// // // .yac-table-header {
// // //   overflow-x: hidden;

// // //   .yac-table-cell {
// // //     align-items: center;
// // //   }
// // // }

.yac-table-resize-handle {
  height: 100%;
}

.yac-table-sort-asc-handle,
.yac-table-sort-desc-handle {
  border-left-color: transparent;
  border-left-style: solid;
  border-right-color: transparent;
  border-right-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}

.yac-table-sort-asc-handle {
  border-bottom-style: solid;
  margin-bottom: 1px;
  bottom: 50%;
}

.yac-table-sort-desc-handle {
  border-top-style: solid;
  margin-top: 1px;
  top: 50%;
}

// // // /* Body ******************************************************************** */

// // // .yac-table-body {
// // //   max-width: 100%;
// // //   overflow: overlay;

// // //   & > div {
// // //     overflow: hidden;
// // //     will-change: transform;

// // //     & > div {
// // //       will-change: transform;
// // //     }
// // //   }

// // //   .yac-table-row {
// // //     &.hidden {
// // //       display: none;
// // //     }
// // //   }
// // // }

// // // .yac-table-expand-toggler {
// // //   @include flex-row();

// // //   align-items: center;
// // //   justify-content: center;

// // //   &.hidden {
// // //     display: none;
// // //   }

// // //   & > i {
// // //     transform: rotate(-45deg);

// // //     &.active {
// // //       transform: rotate(45deg);
// // //     }
// // //   }
// // // }
