/* Common ****************************************************************** */

.yac-table,
.yac-table-cell {
  position: relative;
}

.yac-table {
  height: 100%;
  max-width: 100%;
  overflow: auto;
  will-change: scroll-position;
}

.yac-table-row {
  display: flex;
}

.yac-table-sticky {
  position: sticky;
  z-index: 2;
}

.yac-table-text-center {
  text-align: center;
}

.yac-table-text-left {
  text-align: left;
}

.yac-table-text-right {
  text-align: right;
}

/* Header ****************************************************************** */

.yac-table-header {
  display: inline-block;
  top: 0;
}

/* Body ******************************************************************** */

.yac-table-body,
.yac-table-virtual-scroll-spacer {
  position: absolute;
}

.yac-table-body {
  contain: content;

  .yac-table-row.yac-table-hidden {
    display: none;
  }
}

.yac-table-virtual-scroll-spacer {
  left: 0;
  top: 0;
  transform-origin: 0 0;
  width: 1px;
}
