@import "core";

/* Variables *************************************************************** */

$resize-handle-width: 8px;
$sort-handle-width: 6px;
$table-border-radius: 6px;
$table-header-height: 40px;

:root {
  --yac-table-color-bg-primary: #fff;
  --yac-table-color-bg-tertiary: #f6f8fa;
  --yac-table-color-border-primary: #d1d5db;
  --yac-table-color-border-secondary: #f3f4f6;
  --yac-table-color-box-header-blue-bg: #eff6ff;
  --yac-table-color-text-primary: #4b5563;
}

/* Common ****************************************************************** */

* {
  box-sizing: border-box;
}

.yac-table {
  border: 1px solid var(--yac-table-color-border-primary);
  border-radius: $table-border-radius;
  width: fit-content;

  &::-webkit-scrollbar {
    background-color: var(--yac-table-color-border-secondary);
    border-bottom-left-radius: $table-border-radius;
    border-bottom-right-radius: $table-border-radius;
    border-top-right-radius: $table-border-radius;
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--yac-table-color-border-primary);
    border-radius: $table-border-radius;
  }

  &::-webkit-scrollbar-corner {
    border-bottom-right-radius: $table-border-radius;
  }
}

.yac-table-cell {
  color: var(--yac-table-color-text-primary);
  cursor: pointer;
  display: flex;

  &:not(.yac-table-cell-check):not(.yac-table-row-actions-handle) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &.yac-table-sortable .yac-table-cell-content {
    margin-right: calc(#{$sort-handle-width} * 2);
  }
}

.yac-table-cell-check {
  align-items: center;
  justify-content: center;
  width: 40px;

  &:hover svg {
    display: block;
  }

  svg {
    display: none;
    width: 16px;
  }
}

.yac-table-cell-content {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.yac-table-row-actions-handle {
  @extend .yac-table-sticky;

  color: var(--yac-table-color-border-primary);
  right: 0;
  width: 40px;

  &:hover,
  &.yac-table-active {
    color: var(--yac-table-color-text-primary);
  }
}

/* Header ****************************************************************** */

.yac-table-header {
  .yac-table-cell {
    align-items: center;
    background-color: var(--yac-table-color-box-header-blue-bg); // mandatory
  }

  .yac-table-row {
    height: $table-header-height; // mandatory

    &:hover {
      .yac-table-resize-handle {
        &::before {
          background-color: var(--yac-table-color-border-primary);
        }

        &:hover::before {
          background-color: var(--yac-table-color-text-primary);
        }
      }

      .yac-table-sort-asc-handle {
        &:not(.yac-table-active) {
          border-bottom-color: var(--yac-table-color-border-primary);
        }

        &:hover {
          border-bottom-color: var(--yac-table-color-text-primary);
        }
      }

      .yac-table-sort-desc-handle {
        &:not(.yac-table-active) {
          border-top-color: var(--yac-table-color-border-primary);
        }

        &:hover {
          border-top-color: var(--yac-table-color-text-primary);
        }
      }
    }
  }
}

.yac-table-resize-handle {
  align-items: center;
  cursor: ew-resize;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  width: $resize-handle-width;

  &::before {
    background-color: transparent;
    content: "";
    height: 50%;
    width: 1px;

    transition: background-color 0.25s ease-in;
  }
}

.yac-table-sort-asc-handle,
.yac-table-sort-desc-handle {
  border-left: $sort-handle-width solid transparent;
  border-right: $sort-handle-width solid transparent;
  height: 0;
  position: absolute;
  right: $resize-handle-width;
  width: 0;
}

.yac-table-sort-asc-handle {
  border-bottom: $sort-handle-width solid transparent;
  bottom: 50%;
  margin-bottom: 1px;

  transition: border-bottom-color 0.25s ease-in;

  &.yac-table-active {
    border-bottom-color: var(--yac-table-color-text-primary);
  }
}

.yac-table-sort-desc-handle {
  border-top: $sort-handle-width solid transparent;
  margin-top: 1px;
  top: 50%;

  transition: border-top-color 0.25s ease-in;

  &.yac-table-active {
    border-top-color: var(--yac-table-color-text-primary);
  }
}

/* Body ******************************************************************** */

.yac-table-body {
  top: $table-header-height; // mandatory

  .yac-table-cell {
    background-color: var(--yac-table-color-bg-primary); // mandatory
    box-shadow: inset 0 -1px 0 0 var(--yac-table-color-border-secondary);
  }

  .yac-table-row {
    &:hover,
    &.yac-table-selected {
      .yac-table-cell {
        background-color: var(--yac-table-color-bg-tertiary);
      }
    }

    &.yac-table-selected .yac-table-cell-check svg {
      color: var(--yac-table-color-text-primary);
      display: block;
    }
  }

  .yac-table-row-actions-handle {
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
    }
  }
}
