@import "core";

/* Variables *************************************************************** */

$resize-handle-width: 8px;
$sort-handle-width: 7px;
$table-border-radius: 4px;
$table-header-height: 40px;

:root {
  --yac-table-color-bg-primary: #fff;
  --yac-table-color-bg-tertiary: #f6f8fa;
  --yac-table-color-border-primary: #d1d5db;
  --yac-table-color-border-secondary: #f3f4f6;
  --yac-table-color-box-header-blue-bg: #eff6ff;
  --yac-table-color-text-primary: #4b5563;
}

/* Common ****************************************************************** */

* {
  box-sizing: border-box;
}

.yac-table-cell,
.yac-table-cell-check,
.yac-table-row-actions-handle {
  color: var(--yac-table-color-text-primary);
  display: flex;
}

.yac-table,
.yac-table-overlay {
  font-family: inherit;
  font-size: inherit;
}

.yac-table {
  border: 1px solid var(--yac-table-color-border-primary);
  border-radius: $table-border-radius;
  width: fit-content;

  &::-webkit-scrollbar {
    background-color: var(--yac-table-color-border-secondary);
    border-bottom-left-radius: $table-border-radius;
    border-bottom-right-radius: $table-border-radius;
    border-top-right-radius: $table-border-radius;
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--yac-table-color-border-primary);
    border-radius: $table-border-radius;
  }

  &::-webkit-scrollbar-corner {
    border-bottom-right-radius: $table-border-radius;
  }
}

.yac-table-cell {
  padding-left: 16px;
  padding-right: 16px;

  &.yac-table-sortable .yac-table-cell-content {
    margin-right: calc(#{$sort-handle-width} * 2);
  }
}

.yac-table-cell-check {
  align-items: center;
  color: var(--yac-table-color-border-primary);
  justify-content: center;
  width: 32px;

  &:hover svg {
    display: block;
  }

  & + .yac-table-cell {
    padding-left: 2px;
  }

  svg {
    display: none;
    width: 16px;
  }
}

.yac-table-cell-content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.yac-table-row {
  &.yac-table-selected .yac-table-cell-check svg {
    color: var(--yac-table-color-text-primary);
    display: block;
  }
}

.yac-table-row-actions-handle {
  @extend .yac-table-sticky;

  color: var(--yac-table-color-border-primary);
  right: 0;
  width: 32px;

  &:hover,
  &.yac-table-active {
    color: var(--yac-table-color-text-primary);
  }
}

/* Header ****************************************************************** */

.yac-table-header {
  .yac-table-cell,
  .yac-table-cell-check,
  .yac-table-row-actions-handle {
    align-items: center;
    background-color: var(--yac-table-color-box-header-blue-bg); // mandatory
  }

  .yac-table-row {
    height: $table-header-height; // mandatory

    &:hover {
      .yac-table-resize-handle {
        &::before {
          background-color: var(--yac-table-color-border-primary);
        }

        &:hover::before {
          background-color: var(--yac-table-color-text-primary);
        }
      }
    }
  }

  .yac-table-cell,
  .yac-table-cell-check {
    cursor: pointer;
  }

  .yac-table-cell:hover {
    .yac-table-sort-asc-handle,
    .yac-table-sort-desc-handle {
      &:hover,
      &.yac-table-active {
        i {
          border-color: var(--yac-table-color-text-primary);
        }
      }

      i {
        border-color: var(--yac-table-color-border-primary);
      }
    }
  }
}

.yac-table-resize-handle {
  align-items: center;
  cursor: ew-resize;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  width: $resize-handle-width;

  &::before {
    background-color: transparent;
    content: "";
    height: 75%;
    width: 1px;

    transition: background-color 0.25s ease-in;
  }
}

.yac-table-sort-asc-handle,
.yac-table-sort-desc-handle {
  display: flex;
  padding: 4px;
  position: absolute;
  right: $resize-handle-width;

  i {
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px 2px 0;
    padding: 3px;

    transition: border-color 0.25s ease-in;
  }
}

.yac-table-sort-asc-handle {
  margin-bottom: 8px;

  i {
    transform: rotate(-135deg);
  }
}

.yac-table-sort-desc-handle {
  margin-top: 8px;

  i {
    transform: rotate(45deg);
  }
}

/* Body ******************************************************************** */

.yac-table-body {
  top: $table-header-height; // mandatory

  .yac-table-cell,
  .yac-table-cell-check,
  .yac-table-row-actions-handle {
    background-color: var(--yac-table-color-bg-primary); // mandatory
    box-shadow: inset 0 -1px 0 0 var(--yac-table-color-border-secondary);
  }

  .yac-table-row {
    &:hover,
    &.yac-table-selected {
      .yac-table-cell,
      .yac-table-cell-check,
      .yac-table-row-actions-handle {
        background-color: var(--yac-table-color-bg-tertiary);
      }
    }
  }

  .yac-table-sticky-leftmost {
    border-left: 1px solid var(--yac-table-color-border-secondary);
  }

  .yac-table-sticky-rightmost {
    border-right: 1px solid var(--yac-table-color-border-secondary);
  }

  .yac-table-row-actions-handle {
    align-items: center;
    cursor: pointer;
    justify-content: center;

    &:hover,
    &.yac-table-active {
      color: var(--yac-table-color-text-primary);
    }

    svg {
      width: 16px;
    }
  }
}

.yac-table-expand-toggler {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-width: 24px;
  width: 24px;

  &:hover,
  &.yac-table-active {
    i {
      border-color: var(--yac-table-color-text-primary);

      transition: border-color 0.25s ease-in;
    }
  }

  &.yac-table-active i {
    transform: rotate(45deg);
  }

  &.yac-table-hidden {
    display: none;
  }

  i {
    border: solid var(--yac-table-color-border-primary);
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(-45deg);
  }
}

/* Overlay ***************************************************************** */

.yac-table-overlay {
  background-color: var(--yac-table-color-bg-primary);
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 13%) 0px 3.2px 7.2px 0px, rgb(0 0 0 / 11%) 0px 0.6px 1.8px 0px;
  overflow: hidden auto;
  position: absolute;
  z-index: 10;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li.yac-table-list-divider {
      background-color: var(--yac-table-color-border-secondary);
      display: block;
      height: 1px;
      position: relative;
    }

    li.yac-table-list-item {
      color: var(--yac-table-color-text-primary);
      cursor: pointer;
      height: 36px;
      line-height: 36px;
      padding-left: 16px;
      padding-right: 16px;

      &:hover {
        background-color: var(--yac-table-color-bg-tertiary);
      }
    }
  }
}
